{% extends 'base.html' %}

{% load static %}

{% block body %}
	<body class="hold-transition sidebar-mini">
	<div class="wrapper">
	
	{% block navigation_header %}
		{% include  'navigation_header.html' %}	
    {% endblock navigation_header%}

	{% block navigation_sidebar %}
		{% include 'navigation_sidebar.html' %}	
	{% endblock navigation_sidebar %}
		
	{% block content_wrapper %}
		{% include 'content_wrapper.html'%}
	{% endblock content_wrapper %}

	{% block nav_footer %}
		{% include 'navigation_footer.html' %}
	{% endblock nav_footer %}

</div>

</body>
{% endblock body %}
</html>