{% extends 'adminlte/lib/_main_sidebar.html' %}
{% block logo %}
    <a href="/" class="brand-link">
        {% block logo_text %}<span class="brand-text font-weight-light">Todo-List</span>{% endblock %}
    </a>
{% endblock %}

{% block user_panel %}
{% endblock %}

{% block nav_links_outer %}

{% block nav_links %}

    <li>
        <a href="/">
            <i class="fa fa-dashboard"></i> <span>Tasks</span>
        </a>
    </li>
    <li>
        <a href="/category">
            <i class="fa fa-dashboard"></i> <span>Categories</span>
        </a>
    </li>
{% endblock nav_links %}{% endblock nav_links_outer %}