{% extends 'index.html' %}
{% block body %}
	{% block navigation_header %}
		{% include 'navigation_header.html' %}
	{% endblock navigation_header %}

	{% block navigation_sidebar %}
		{% include 'navigation_sidebar.html' %}	
	{% endblock navigation_sidebar %}

		{% block content_wrapper %}
		<div class="content-wrapper">
			<h2>{% if request.resolver_match.url_name == 'category_create' %}Create{% else %}Edit{% endif %} Category</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">{% if request.resolver_match.url_name == 'category_create' %}Create{% else %}Save Changes{% endif %}</button>
			</form>
			<a href="{% url 'todo:category_list' %}">Back to Category List</a>


{% endblock content_wrapper %}  
{% endblock body %}