{% extends 'base.html' %}
{% block body %}
	{% block nav_header %}
		{% include 'header.html' %}
	{% endblock %}

	{% block nav_sidebar %}
		{% include 'sidebar.html' %}
	{% endblock %}

		{% block content_wrapper %}
		<div class="content-wrapper">
			{% block content_header %}
			<h2>{% if request.resolver_match.url_name == 'category_create' %}Create{% else %}Edit{% endif %} Category</h2>
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">{% if request.resolver_match.url_name == 'category_create' %}Create{% else %}Save Changes{% endif %}</button>
			</form>
			<a href="{% url 'todo:category_list' %}">Back to Category List</a>

{% endblock content_header %}  

{% endblock content_wrapper %}  
{% endblock body %}