{% extends 'base/base.html' %}
{% load static %}

{% block title %} Categories {% endblock title %}

{% block content_wrapper %}
	<div class="content-wrapper  h-100" >
		<div class="content-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Categories</h1>
					</div>
				</div>
			</div>
		</div>
		<lu>
			<div class="row border border-whith p-2 bg-info rounded mt-8 m-2 align-items-center">
				<div class="col">
					<strong class="m-0">Category</strong>
				</div>
			</div>				
			{% for category in categories %}
					<div class="row border border-whith p-2 rounded  mt-7 m-2 align-items-center"  >	
						<div class="col ml-auto" >						
							{{ category.name}} 
						</div>
						<div>
							<a class="btn btn-outline-primary" href="{% url 'todo:category_edit' pk=category.pk %}">Edit</a>
						</div>
						<div class="ml-4">
							<a  class="btn btn-outline-danger"  href="{% url 'todo:category_delete' pk=category.pk %}">Remove</a> 
						</div>
					</div>	
			{% endfor %}
		</lu>
		<div class="row m-1 ">
			<div class="col-sm-6">
				<a class="btn btn-primary" href="{% url 'todo:category_create' %}">Add Category</a>
			</div>
		</div>
	<div>
{% endblock content_wrapper %}
