<!-- task_confirm_delete.html -->
{% extends 'index.html' %}
{% block body %}
	{% block navigation_header %}
		{% include 'navigation_header.html' %}
	{% endblock navigation_header %}

	{% block navigation_sidebar %}
		{% include 'navigation_sidebar.html' %}	
	{% endblock navigation_sidebar %}

	{% block content_wrapper %}
		<div class="content-wrapper">
		{% block content_header %}
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Confirm Deletion</h1>
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>

			<p>Are you sure you want to delete the category "{{ object.title }}"?</p>
			<form method="post">
				{% csrf_token %}
				<button type="submit">Confirm</button>
			</form>
			<a href="{% url 'todo:category_list' %}">Cancel</a>
		
		{% endblock content_header %}  
		</div>

  {% endblock content_wrapper %}  
{% endblock body %}