{% extends 'base.html' %}
{% load static %}

{% block body %}

	{% block navigation_header %}
		{% include 'navigation_header.html' %}
	{% endblock navigation_header %}

	{% block navigation_sidebar %}
		{% include 'navigation_sidebar.html' %}	
	{% endblock navigation_sidebar %}

	{% block content_wrapper %}

	<div class="content-wrapper  h-100" >
		{% block content_header %}
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Tasks</h1>
					</div>
				</div>
			</div>
		</div>
		{% endblock content_header %}		
		<ul>					
		{% for task in tasks %}
			<lu>
				<div class="row border border-whith rounded ali mt-8 m-2"  >	
					<div class="col ml-auto" >						
						<input type="checkbox" class="checkbox-class" type="checkbox" value="" id="checkboxid" data-task-id="{{ task.id }}">
						{{ task.title }} - {{ task.description }}
					</div>
					<div  class="col"  >
						{{ task.category }}
					</div>
					<div  class="col ml-auto mb-2 row">
						<div>
							<a class="col ml-auto " href="{% url 'todo:task_edit' pk=task.pk %}">Editar</a>
						</div>
						<div>
							<a id="delete-task" class="col mr-auto" href="{% url 'todo:task_delete' pk=task.pk %}">Remover</a>
						</div>
					</div>
				</div>
			</lu>
		{% endfor %}
		</ul>
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<a class="btn btn-outline-primary"href="{% url 'todo:task_create' %}">Add Task</a>

					</div>
				</div>
			</div>
		</div>
	<div>
	{% endblock content_wrapper %}

	{% block scripts %}
		{% include 'scripts.html' %}
	{% endblock scripts %}

	{% block nav_footer %}
		{% include 'navigation_footer.html' %}
	{% endblock nav_footer %}

{% endblock body %}

