{% extends 'base/base.html' %}
{% load i18n static %}

{% block title %} Tasks {% endblock title %}

{% block content_wrapper %}

	<div class="content-wrapper h-100" >
		<div class="content-header">
			<div class="container-fluid">
				<div class="row ">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark">Tasks</h1>
					</div>
				</div>
			</div>
		</div>			
		{% for task in tasks %}
			<lu>
				<div class="row border border-whith p-2 rounded mt-8 m-2 align-items-center"  >	
					<div class="col ml-auto " >						
						<input type="checkbox" class="checkbox-class" id="checkboxid{{ task.id }}" data-task-id="{{ task.id }}" {% if task.completed %}checked{% endif %}>
						{{ task.title }} - {{ task.description }}
					</div>
					<div  class="col"  >
						{% if task.category %}
							{{ task.category }}
						{% endif %}
					</div>
					<div>
						<a class="btn btn-outline-primary"  href="{% url 'todo:task_edit' pk=task.pk %}">Editar</a>
					</div>
					<div class="ml-4">
						<a class="btn btn-outline-danger" href="{% url 'todo:task_delete' pk=task.pk %}">Remover</a>
					</div>
				</div>
			</lu>
		{% endfor %}
		<div class="row mb-2 m-1 ">
			<div class="col-sm-6">
				<a class="btn btn-outline-primary"href="{% url 'todo:task_create' %}">Add Task</a>
			</div>
		</div>
	<div>
{% endblock content_wrapper %}




